absl-py
asn1crypto
backcall
blinker
cachetools
certifi
cffi
chardet
Click
cryptography
cycler
decorator
efficientnet_pytorch
google-auth
google-auth-oauthlib
grpcio
idna
ipython
ipython-genutils
jedi
joblib
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
oauthlib
olefile
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
tensorboard
torch
torchvision
tornado
tqdm
traitlets
urllib3
wcwidth
Werkzeug
